/* CSS Document */
/*added on 10-05-2012*/
#bloc_pq_inscrire {
    background: url("../images/bg-pq-inscrire.jpg") no-repeat scroll left top transparent;
    height: 310px;
    width: 260px;
	float:right;
}

#bloc_pq_inscrire h3 {
    /*font-family: "Times New Roman",Times,serif;*/
    font-size: 16px;
    margin: 0 0 100px;
    padding: 5px 0 0 10px;
    text-align: center;
    width: 250px;
}
#bloc_pq_inscrire h3 a {
    color: #000000;
   /* font-family: "Times New Roman",Times,serif;*/
    text-decoration: none;
}

#bloc_pq_inscrire ul li {
    background: url("../images/li-inscrire.gif") no-repeat scroll left top transparent;
    /*font-family: "Times New Roman",Times,serif;*/
   
    padding: 0 0 4px 10px;
}
#bloc_pq_inscrire ul li a {
    color: #000000;
   /* font-family: "Times New Roman",Times,serif;*/
   
    text-decoration: none;
}
#bloc_pq_inscrire ul li a:hover {
    color: #C80000;
    /*font-family: "Times New Roman",Times,serif;*/
    
    text-decoration: none;
}

#bloc_pq_inscrire span {
    
    margin: 0 0 0 10px;
    text-transform: uppercase;
}
#bloc_pq_inscrire span a {
    color: #C80000;
    font-weight: 700;
    padding: 0 0 0 30px;
    text-decoration: none;
}




#pa_intro h2 {
    color: #FF9C00;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
#pa_intro {
    color: #333333;
    font-size: 12px;
    margin: 0 15px 15px 5px;
}

.asso {
    float: left;
    width: 250px;
}
.asso_prix {
    color: #C80000;
    font-size: 18px;
    padding-top: 14px;
}
.asso_url a {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    padding: 0;
    text-decoration: none;
    width: 140px;
}
.asso_txt {
    float: left;
    padding-left: 5px;
    padding-top: 26px;
    width: 140px;
}
#bloc_decouvrir {
    margin: 10px 0 0 17px;
    width: 750px;
}