div#ekomi-product .reviews {
	margin: 20px auto;
	overflow: hidden;
	height: auto;
	position: relative;
	padding: 0;
	list-style-type: none;
	background: url('../images/px_gris.gif') repeat-y 50% 0
}
div#ekomi-product .reviews *, .reviews *:after, .reviews:after, .reviews *:before, .reviews:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
div#ekomi-product .reviews .date {
	background: #000;
	font-size: 14px;
	max-width: 10em;
	clear: both;
	margin: 50px auto 3em auto;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-family: Bunny, Verdana
}
div#ekomi-product .reviews .date:first-of-type {
	margin-top: 0 !important
}
div#ekomi-product .reviews .date+.event {
	margin-top: -1.5em
}
div#ekomi-product .reviews .page {
	background: #dae8db;
	font-size: 14px;
	max-width: 10em;
	clear: both;
	margin: 50px auto 3em auto;
	padding: 10px;
	color: #000;
	text-align: center;
	font-family: Bunny, Verdana
}
div#ekomi-product .reviews .event {
	position: relative;
	text-align: left;
	float: left;
	clear: left;
	width: 50%;
	margin: 10px 0;
	list-style-type: none;
	display: block;
	z-index: 15;
	color: #000;
	border: 0;
	text-decoration: none
}
div#ekomi-product .reviews .event.right {
	float: right;
	clear: right
}
div#ekomi-product .reviews .event .review_content {
	background: #ebebeb;
	margin: 0 35px 0 0;
	padding: 15px;
	position: relative
}
div#ekomi-product .reviews .event.right .review_content {
	margin: 0 0 0 35px
}
div#ekomi-product .reviews .event.green .review_content {
	background: #dae8db
}
div#ekomi-product .reviews .event .review_content .review_header div.stars {
	float: left;
	margin-right: 8px
}
div#ekomi-product .reviews .event .review_content .review_header div.name {
	float: left;
	font-size: 12px;
	font-family: Bunny, Verdana;
	padding-top: 2px
}
div#ekomi-product .reviews .event.green .review_content .review_header div.name {
	font-size: 14px;
	padding-top: 5px
}
div#ekomi-product .reviews .event .review_content .review_header div.when {
	float: right;
	font-size: 12px;
	font-family: Kahuna, Verdana
}
div#ekomi-product .reviews .event.green .review_content .review_header div.when {
	margin-top: 4px
}
div#ekomi-product .reviews .event .review_content .review_header img {
	width: 10px;
	height: 10px;
	vertical-align: baseline
}
div#ekomi-product .reviews .event.green .review_content .review_header img {
	width: auto;
	height: auto;
	vertical-align: text-bottom
}
div#ekomi-product .reviews .event .comment {
	margin-top: 10px;
	font-style: italic;
	font-size: 12px;
	line-height: 18px
}
div#ekomi-product .reviews .event .comment span {
	font-style: normal;
	font-size: 12px;
	font-family: Bunny, Verdana
}
div#ekomi-product .reviews .event .response {
	border-left: 5px solid #0b878f;
	background-color: #fff;
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	margin-top: 10px;
	padding: 10px
}
div#ekomi-product .reviews .event .response .title {
	background: none repeat scroll 0 center rgba(0,0,0,0);
	font-size: 13px;
	margin-bottom: 5px;
	text-transform: none
}
@media screen and (max-width:1023px) {
div#ekomi-product .reviews .event .review_content .review_header div.when {
	width: 100%;
	padding-top: 4px;
	margin-top: 0
}
div#ekomi-product .reviews .event.green .review_content .review_header div.when {
	width: 100%;
	padding-top: 4px;
	margin-top: 0
}
}
@media screen and (max-width:699px) {
div#ekomi-product .reviews .event .review_content .review_header div.name {
	padding-top: 6px;
	margin-top: 0
}
div#ekomi-product .reviews .event.green .review_content .review_header div.name {
	padding-top: 6px;
	margin-top: 0
}
}
@media screen and (max-width:599px) {
div#ekomi-product .reviews .event {
	width: 85%
}
}
@media screen and (min-width:599px) {
div#ekomi-product .reviews .event .review_content:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent
}
div#ekomi-product .reviews .event.right .review_content:before {
	top: 10px;
	left: -6px;
	border-right: 6px solid #ebebeb
}
div#ekomi-product .reviews .event.green.right .review_content:before {
	border-right: 6px solid #dae8db
}
div#ekomi-product .reviews .event.left .review_content:before {
	top: 10px;
	right: -6px;
	border-left: 6px solid #ebebeb
}
div#ekomi-product .reviews .event.green.left .review_content:before {
	border-left: 6px solid #dae8db
}
div#ekomi-product .reviews .event .review_content:after {
	display: block;
	content: '';
	height: 9px;
	width: 9px;
	background: #fff;
	border: solid 1px #ebebeb;
	border-radius: 50%;
	position: absolute;
	left: -39px;
	top: 10px
}
div#ekomi-product .reviews .event.green .review_content:after {
	border-color: #dae8db;
	background-color: #dae8db
}
div#ekomi-product .reviews .event.left .review_content:after {
	right: -40px;
	left: auto
}
}